.login-container{
    font-family: Rubik, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #f5f5f5;
}

.login-estrutura{
    width: 100%;
    max-width: 600px;
    background-color: white;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}

.login-header{
    text-align: center;
    margin-bottom: 20px;
    margin: 0;
    font-size: 13px;
    letter-spacing: 1px;
}

.login-main{
    background-color: #f0f0f0;
    padding: 20px;
    border-radius: 8px;
}

.login-formulario{
    display: flex;
    flex-direction: column;
}

.login-formulario h2{
    margin-bottom: 20px;
    font-size: 24px;
    text-align: center;
}

.login-formulario input{
    margin-bottom: 15px;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.login-formulario button{
    padding: 10px;
    font-size: 16px;
    color: white;
    background-color: blueviolet;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.login-formulario button:hover{
    background-color: rgb(107, 64, 175);
}

.opcoes{
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
    cursor: pointer;
}

.opcoes a{
    font-size: 14px;
    color: #000000;
    text-decoration: none;
}